@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --color-primary: #7a4190;
    --color-title: #7a4190;
    --align-title: center;
    --font-family: 'Poppins', sans-serif;
    --padding-container: 20px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #7a4190;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape: 18em;

}



.navbar {
    font-family: var(--font-family);
}

.nav-nav {
    color: var(--color-primary);
}

.mi-color {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    font-family: var(--font-family);
}


.titulo {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary);
    font-size: 15px;
    text-align: center;
    
}


.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    --width-container: 90%;
    --max-width-container: 1200px;
    margin-top: 25px;
    margin-bottom: 25px;  
    color: #7a4190;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
}

.form-group {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    align-content: center;
  
}

.imagen-correo {
    display: inline-block;
    height: 70%;
    width: 100%;
    padding-top: 25px;

}


.footer {
    position: relative;
    --padding-container: 160px 0 50px ;

}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fff;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.footer__container container {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 100px;
}

.footer__copy {
    margin: 30px, 0, 0, 30px;
    padding-top: 50px;
    font-size: 20px;
    color:#7a4190;
    display: inline-flex;
    align-content: center;

}


.footer__icon {
    width: 40px;
   
}

.footer__social {
    display: inline-block;
    width: 80px;
    align-content: center;
}

