.navbar {
    font-family: var(--font-family);
}

.nav-nav {
    color: var(--color-primary);
}

.mi-color {
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px;
    font-family: var(--font-family);
}


.btn btn-outline-success {
    background: #7a4190;
}
